
<p>
  <strong>Campus name:</strong>
  <%= @campus.campus_name %>
</p>

<p>
  <strong>Campus code:</strong>
  <%= @campus.campus_code %>
</p>

<%= link_to 'Editar', edit_campus_path(@campus) %> |
<%= link_to 'Regresar', campus_index_path %>
