<p>
  <strong>Area name:</strong>
  <%= @area.area_name %>
</p>

<p>
  <strong>Area code:</strong>
  <%= @area.area_code %>
</p>

<%= link_to 'Editar', edit_area_path(@area) %> |
<%= link_to 'Regresar', areas_path %>
