<div class="col-md-5">
  <h3>Ejecuci贸n</h3>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Coordinaci贸n</th>
        <th>Ejecutado</th>
        <th>Presupuestado</th>
      </tr>
    </thead>
    <tbody>

      <tr>
        <td>Pastoral</td>
        <td></td>
        <td></td>
      </tr>

      <tr>
        <td>Cultura</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>Participaci贸n</td>
        <td></td>
        <td></td>
      </tr>

      <tr>
        <td>Proyecci贸n</td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>