<p>¡Hola <%= @user.first_name %>!</p>

<strong>Esta es la programación para esta semana en la dirección de Vida Universitaria:</strong>
<p>
  <ul>
    <% @activities.each do |a| %>
      <li><%= a.activity_name %> // <%= a.start_date.strftime("%A %d %b") %></li>
    <%end %>
  </ul>
</p>

<br>
<p>Fraternalmente,</p>
<p>Sistema DVU.</p>

<p>
  Pd:<span>Grandes cosas son posibles</span>
</p>
