<div class="row">
  <div class="col-md-10">
    <h3 class="text-left">Gastos de la actividad</h3>
  </div>
</div>
<div class="row">
  <div class="col-md-8">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Rubro</th>
          <th>Descripción</th>
          <th>Monto</th>
        </tr>
      </thead>


  <tbody>
    <% @expenses.each do |expense| %>
      <tr>
        <td><%= expense.budget.item %></td>
        <td><%= expense.description %></td>
        <td><%= number_to_currency(expense.amount, precision: 0) %></td>
      </tr>
    <% end %>
      <tr>
        <td></td>
        <td> <strong>Total:</strong></td>
        <td> <strong><%= number_to_currency(@total_expenses_by_activity, precision: 0) %></strong></td>
      </tr>
  </tbody>
    </table>
  </div>
</div>