<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Actividades
  </a>
  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
    <% if current_user %>
    <%= link_to "Mis actividades", activities_own_activities_path, class: "dropdown-item" %>
    <div class="dropdown-divider"></div>
    <%= link_to "Registrar actividad", new_activity_path, class: "dropdown-item" %>
    <div class="dropdown-divider"></div>
    <%end %>
    <%= link_to "Lista de actividades", activities_path, class: "dropdown-item" %>
  </div>
</li>