<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Presupuesto
  </a>
  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
    <%= link_to "Listar rubros", budgets_path, class: "dropdown-item" %>
  </div>
</li>