<p>Hola <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>Te contactamos para informarte que tu correo está en proceso de cambio por  <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>Te contactamos para informarte que tu correo a sido cambiado por <%= @resource.email %>.</p>
<% end %>
