<p>Hello <%= @resource.first_name %>!</p>
<p>Tenemos una solicitud para cambiar tu contraseña. Para hacerlo da click al siguiente link:</p>

<p><%= link_to 'Cambiar mi contraseña', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si tú no has requerido este cambio, por favor ignora este coreo y da aviso al administrador del sistema</p>
<p>Tu contraseña no cambiará hasta que des click y crees una nueva </p>


<p>Fraternalmente,</p>
<p>Sistema DVU</p>